.AspectRatio {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  --aspect-ratio: 1;
}

.add-to-cart-btn {
  display: inline-block;
  font-size: 16px;
  padding: 6px 10px;
  margin-right: 8px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  background-image: none;
  text-shadow: none;
  border: none;
  height: 40px;
  white-space: normal;
  background-color: #000000;
  color: #ffffff;
  visibility: visible;
  cursor: pointer;
}

.bttn {
  display: inline-block;
  font-size: 16px;
  padding: 6px 10px;
  margin: 8px auto 0 auto;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-image: none;
  text-shadow: none;
  border: none;
  height: auto;
  white-space: normal;
  background-color: #000000;
  color: #ffffff;
  -webkit-appearance: inherit;
  visibility: visible;
  cursor: pointer;
}

.Button__SeparatorDot {
  display: inline-block;
  margin: 0 18px;
  content: '';
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: currentColor;
}

.Cart__CheckoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  width: 100%;
  color: var(--button-text-color);
  border-color: var(--button-background);
  position: relative;
  padding: 14px 28px;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 12px)
  );
  text-align: center;
  letter-spacing: 0em;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  background-color: #000000;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;
  cursor: pointer;
}

.CartItemWrapper {
  position: relative;
  overflow: hidden;
  padding-left: 24px;
  padding-right: 18px;
}

.CartItem {
  display: table;
  table-layout: fixed;
  margin: 30px 0;
  width: 100%;
}

.CartItem__ImageWrapper {
  width: 90px;
  min-width: 90px;
  text-align: center;
}

.CartItem__Info {
  padding: 0 0 0 25px;
}

.Cart__Title {
  margin-bottom: 0.45em;
  width: 100%;
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 11px)
  );
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CartItem__Variant {
  margin-bottom: 0.45em;
}

.CartItem__Meta {
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 9px)
  );
}

.CartItem__PriceList {
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 9px)
  );
}

.CartItem__Actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.CartItem__Remove {
  margin: 8px 0;
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 8px)
  );
}

.Cart__Taxes {
  margin-bottom: 8px;
  color: var(--text-color-light);
  margin-top: 0;
  font-size: inherit;
  font-weight: inherit;
}

.Cart__NudgeOffer {
  background-color: #f0f0f0;
  color: #000000;
  padding: 15px;
  line-height: 18px;
  border: 1px dashed #f5f5f5;
  border-radius: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  display: table !important;
  margin: 0 auto;
  position: relative;
}

.Drawer__Main {
  flex: 1 1 auto;
  overflow: auto;
}

.Drawer__Container {
  width: 100%;
  padding-left: 24px;
  padding-right: 18px;
}

.cart-body-form {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cart--footer {
  height: 50%;
  opacity: 1;
  background: #fff;
  transform: translateY(0);
  transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s,
    transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s;
  padding-bottom: max(24px, env(safe-area-inset-bottom, 0px) + 24px);
  padding: 14px 24px 24px;
  flex: none;
  box-shadow: 0 -1px var(--border-color);
}

.Heading {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  color: var(--heading-color);
  transition: color 0.2s ease-in-out;
}

.Header__CartDot {
  position: absolute;
  top: 2px;
  right: -6px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--header-heading-color);
  box-shadow: 0 0 0 2px var(--header-background);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.Header__CartDot .is-visible {
  transform: scale(1);
  background-color: #48962a !important;
}

.Link {
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.Link--underline {
  position: relative;
  display: inline-block;
}

.offer-text {
  margin-bottom: 5px;
  padding: 0px 20px;
  font-size: 12px;
}

.Price {
  display: inline-block;
}

.product-image-wrappper,
.nudge-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.product-title-wrapper {
  margin-bottom: 5px;
}

.product-image {
  display: block;
  max-width: 100px;
  width: 100px;
  height: auto;
  max-height: inherit;
  border-style: none;
  padding-right: 20px;
}

.QuantitySelector {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--border-color);
  white-space: nowrap;
}

.QuantitySelector__Btn {
  display: inline-block;
  padding: 5px 9px;
  cursor: pointer;
  font-size: large;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.QuantitySelector__Input {
  display: inline-block;
  width: 20px;
  padding: 0;
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 10px)
  );
  text-align: center;
  letter-spacing: normal;
  background: transparent;
  border: none;
}

.variants-selector {
  padding: 7px 0px;
  margin-top: 6px;
}

.variants-selector-option {
  padding: 4px 6px;
}
